<html>
<head>
<title>Pets App</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<h1>Edit Pet <%= pets.name %> Info</h1>
<br><br>

 <% if(typeof(errors) != 'undefined' ) { %>
     <% for (var x in errors) { %>
      <h3><%= errors[x].message %></h3>
     <% } %>
 <% } %>
 
 <br>
 
<% if(pets){ %>		
<form action="/pets/<%= pets._id %>" method='post'>	
	Name: <input type='text' name="name" id="name" value="<%= pets.name %>"></input><br><br>
	Breed: <input type='text' name="breed" id="breed" value="<%= pets.breed %>"></input><br><br>
	Age: <input type='text' name="age" id="age" value="<%= pets.age %>"></input><br><br>
	Size: <input type='text' name="size" id="size" value="<%= pets.size %>"></input><br><br>
	Color: <input type='text' name="color" id="color" value="<%= pets.color %>"></input><br><br>
	Gender: <input type='text' name="gender" id="gender" value="<%= pets.gender %>"></input><br><br>
	
	<input type="submit" value="Edit Pet"></input>	<br><br> 	
</form>
<%}%>
<a href="/">Go Home</a>

</body>
</html>